In [30]:
import pandas as pd
df = pd.read_csv('bina_kiraye.csv')
df.loc[df['Area']>40,'Rooms'] = 2
df.loc[df['Area']>60,'Rooms'] = 3
df.loc[df['Area']>90,'Rooms'] = 4
df.loc[df['Area']>130,'Rooms'] = 5
df.loc[df['Area']<=40,'Rooms'] = 1
df.loc[df['Rooms']>5,'Rooms'] = 5
df

      Unnamed: 0             Locations  Prices   Floor   Area  Rooms
0              0          20 Yanvar m.    3900    5/5    80.0    3.0
1              1                 Qusar     150     NaN  200.0    5.0
2              2          Neftçilər m.   10500    6/9    45.0    2.0
3              3             Nəsimi r.      80    1/9   100.0    4.0
4              4            Görədil q.     120     NaN  210.0    5.0
...          ...                   ...     ...     ...    ...    ...
6355        6355            Əhmədli m.   18000  10/19    90.0    3.0
6356        6356            Yasamal r.   27000     NaN   60.0    2.0
6357        6357  Şah İsmayıl Xətai m.   24000   5/18   140.0    5.0
6358        6358              Xətai r.   45000    5/7   150.0    5.0
6359        6359        İçəri Şəhər m.   51000   2/12    90.0    3.0

[6360 rows x 6 columns]